.navbar-expand-lg .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #1100ff;
}



.quiz_main .score {
  text-align: left;
}

.question-count {
  text-align: left;
}

.quiz_main .quiz_question {
  text-align: left;
}


.quiz_main .quiz_question .score h2 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 20px;
}

.quiz_main .question-count  h3 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}

.quiz_main .quiz_question .question_number h4 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.answer-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Answer_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ans_button_main {
  width: 100%;
}

.answer-options  button {
  width: 100%;
  height: 37px;
  background-color: #0fd8f3;
  border: none;
  color: #000000;
  text-transform: uppercase;
  border-radius: 12px;
  margin-bottom: 10px;
}

.btn_mian {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.buttons .quit-button {
  width: 100%;
  height: auto;
  background-color: #ff0019;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 12px;
  margin-left: 10px;
}

.buttons .next-button  {
  width: 100%;
  height: auto;
  background-color: #19c213;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 12px;
  margin-left: 10px;
}

.buttons .previous-button {
  width: 100%;
  height: auto;
  background-color: #00437a;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 12px;
  margin-left: 10px;
}

.results {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.results .result_wapper  {
  background-color: #001e2c;
  color: #ffffff;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
}

.score-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #000000;
}

.play-again-button {
  background-color: #001e2c;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.2s ease;
  border: none;
}

.play-again-button:hover {
  background-color: #2f6da5;
}

.score h2 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.score h3 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.question-text h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
}